.banner{
    background: var(--cor-de-fundo-secundaria);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner_titulo{
    font-size: 18px;
    font-weight: 600;
    font-family: var(--fonte-de-titulo);
}

.banner_texto{
    font-weight: 500;
    margin: 1em 0;
}

.containe_player{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    position:relative;
}