.carrossel_titulo{
    color: var(--cor-de-acento_secundaria);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fonte-de-titulo);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 #12556F;

}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

@media screen and (min-width: 1024px){
    .carrossel_titulo{
        font-size: 26px;
    }
    .swiper-pagination{
        margin: 2em 0 3em 0;
    }
    .swiper{
        width: 80%;
    }
}