.cabecalho--menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("/img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}

.container {
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;
}

.container_imagem-logo{
    width:34px;
}

.lista-menu{
    display: none;
    position: absolute;
    top:100%;
    width: 40vw;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: #12556F;
    border-radius: 5px;
}

.container_botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu_item{
    padding: 1em;
    background-color: var(--branco);  

}

.lista-menu_link{
    background: var(--cor-de-titulo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: var(--fonte-de-titulo);
    text-transform: uppercase;
    font-weight: 700;
}

.container_botao{
    display: none;
}

.container_titulo{
    display: none;
}

.opcoes{
    display: none;
}

@media screen and (min-width: 1024px){

    .container_titulo, .container_titulo-negrito{
        font-family: --fonte-de-titulo;
        font-size: 30px;
        color:  var(--cor-de-titulo);
    }

    .container_titulo{
        font-weight: 400;
        display: block;
    }
    
    .container_titulo-negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes_item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes_link{
        text-decoration: none;
        color: var(--preto);
    }

    .container_imagem-transparente, .cabecalho--menu-hamburguer{
        display: none;
    }

    .container_imagem-logo{
        width:248px;
    }
}